<!DOCTYPE html>
<html lang="pt-br">  <!-- Declara o idioma da página como português do Brasil -->
<head>
    <meta charset="UTF-8">  <!-- Define a codificação de caracteres como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Configurações para tornar a página responsiva em dispositivos móveis -->
    <title>Teste</title>  <!-- Título da página exibido na aba do navegador -->
</head>
<body>
    <h1>funcionou</h1>  <!-- Título principal da página, informando que a página está funcionando -->
</body>
</html>
